<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Your Wall</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Hi, {{user.first_name}}.</h1>
    {% for post in user.messages.all %}
        <p>From user:</p>
        <h4>{{post.message}}</h4>
        <form action="/wall/add_comment" method="POST">
            {% csrf_token %}
            <label for="comment">Add Comment Here:</label>
            <textarea id="comment" name="comment"></textarea>
            <input type="submit" value="Add Comment">
            </form>
        {% for comment in post.message_comments.all %}
            <p>{{comment.comment}}</p>
        {% endfor %}
    {% endfor %}
<form action="/wall/add_comment" method="POST">
{% csrf_token %}
<label for="comment">Add Comment Here:</label>
<textarea id="comment" name="comment"></textarea>
<input type="submit" value="Add Comment">
</form>
    <a href="/wall">return to main page</a>
</body>
</html>