<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Your Wall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Here is the Wall</h1>
    <h2>Post a Message</h2>
    <form action="/wall/add_message" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="message"></label>
        <textarea class="form-control" id="message" name="message"></textarea>
        <input type="submit" value="Add Message" class="btn btn-primary">
    </div>
    </form>
    <h1>Welcome, {{user.first_name}}.</h1>
        {% for message in messages %}
            <h3>{{message.user.first_name}}  {{message.user.last_name}} Posted:</h3>
                <h5>{{message.message}}</h5>
                <p> -- {{message.added}}</p>
                {% if request.session.id == message.user.id %}
                    <a href="/wall/delete_post/{{post.id}}">Delete This Post</a>
                {% endif %}
                {% for comment in message.message_comments.all %}
                    <p>{{comment.user.first_name}}{{comment.user.last_name}}{{comment.comment}}</p>
                {% endfor %}
                <form action="/wall/add_comment/{{message.id}}" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                        <label for="comment">Add Comment Here:</label>
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                        <input type="submit" value="Add Comment" class="btn btn-primary">
                    </div>
                </form>
        {% endfor %}
<form action="/wall/add_comment" method="POST">
{% csrf_token %}
    <a href="/wall">return to main page</a>
</body>
</html>

<!--     
<html lang = en>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>The Wall</h1>
    <h3>Post a Message</h3>
    <form action="/wall/add_message" method="POST">
    {% csrf_token %}
    <label for="message"></label>
    <textarea id="message" name="message"></textarea>
    <input type="submit" value="Add Message">
    </form>
    {% for post in posts %}
        <h4>{{post.message}}</h4>
        <p>--post by {{post.user.first_name}}</p>
    {% endfor %}

    
</body>
</html> -->